body, html{
    height: 100%;
}

.bodyContent{
    height: 100%;
}

#adventuringContent{
    height: 100%;
}

.fullBody {
    width: 100%;
    height: 100%;
}

.row.advCont{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
